
.env
.venv/
venv/
archive/
data/
prod_env/*
!prod_env/model_deployments.yaml
prompts
*/__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
scripts/logs
OPEN CHARACTER TRAINING- SHAPING THE PERSONA OF AI ASSISTANTS THROUGH CONSTITUTIONAL AI.pdf
*.egg-info/
.pytest_cache/
*.egg
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store