accelerate
bitsandbytes
datasets
einops
evaluate
ipykernel
ipywidgets
isort
jsonlines
matplotlib
packaging
scikit-learn
tqdm
transformers
transformers_stream_generator
wheel

# HELM - install from local checkout in editable mode:
#   pip install -e ../helm
# Or from PyPI:
#   pip install crfm-helm
