-e ../helm[openai]

accelerate
bitsandbytes
datasets
einops
evaluate
ipykernel
ipywidgets
isort
jsonlines
matplotlib
packaging
scikit-learn
tqdm
transformers
transformers_stream_generator
wheel

openai~=1.70
pydantic~=2.0
typing-extensions~=4.0

pytest
pytest-mock

-e .