models:
  # OpenAI
  - name: gpt-5.1
    model: openai/gpt-5.1:floor
    top_p: 1.0
    max_tokens: 2048

  # Anthropic
  - name: claude-haiku-4.5
    model: anthropic/claude-haiku-4.5:floor
    max_tokens: 2048

  # xAI
  # grok is known to prefer more deterministic outcomes
  - name: grok-4.1-fast
    model: x-ai/grok-4.1-fast:floor
    temperature: 0.7

  # Google
  - name: gemini-3-pro-preview
    model: google/gemini-3-pro-preview:floor

  - name: gemini-2.0-flash-exp-free
    model: google/gemini-2.0-flash-exp:free

  # Mistral
  - name: mistral-small-3.2-24b-instruct
    model: mistralai/mistral-small-3.2-24b-instruct:floor

  # Alibaba
  - name: qwen3-vl-235b-a22b-thinking
    model: qwen/qwen3-vl-235b-a22b-thinking:floor
    temperature: 0.7
    top_p: 0.8
    top_k: 20
    repetition_penalty: 1.0
    presence_penalty: 1.5

  # Moonshot
  # https://platform.moonshot.ai/docs/guide/use-kimi-k2-thinking-model#usage-notes
  - name: kimi-k2-thinking
    model: moonshotai/kimi-k2-thinking:floor

  # DeepSeek
  # https://huggingface.co/deepseek-ai/DeepSeek-V3.2?utm_source=chatgpt.com
  - name: deepseek-v3.2
    model: deepseek/deepseek-v3.2:nitro
    top_p: 0.95
 
  # Z-AI
  - name: glm-4.5-air
    model: z-ai/glm-4.5-air:floor
    temperature: 0.7
    top_p = 0.95
    max_tokens = 1024

  # Z-AI Free
  - name: glm-4.5-air-free
    model: z-ai/glm-4.5-air:free
    temperature: 0.15
    top_p: 0.75
    top_k: 50
    min_p: 0.06
 
  # Arcee
  # https://huggingface.co/arcee-ai/Trinity-Mini-GGUF?
  - name: trinity-mini
    model: arcee-ai/trinity-mini:floor
    temperature: 0.15
    top_p: 0.75
    top_k: 50
    min_p: 0.06

  # Arcee Free
  - name: trinity-mini-free
    model: arcee-ai/trinity-mini:free
    temperature: 0.15
    top_p: 0.75
    top_k: 50
    frequency_penalty: 0.1
    presence_penalty: 0.2
    repetition_penalty: 1.05
    min_p: 0.06
    top_a: 0.0
    seed: 42068
    max_tokens: 256
    verbosity: medium
    reasoning: low
    provider:
      require_parameters: false
      data_collection: allow
      sort: throughput